openapi: 3.0.0
info:
  title: Housr Rewards API
  version: 1.0.0

servers:
  - url: /api/v1

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /auth/login:
    post:
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: integer
      responses:
        "200":
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string

  /perks:
    get:
      summary: Get list of perks
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of perks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string

  /users/{userId}:
    get:
      summary: Get user details
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: User details
          parameters:
            - name: userId
              in: path
              required: true
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  wallet_balance:
                    type: integer
                  next_payment_due:
                    type: date
          responses:
          "200":
            description: User info
          "401":
            description: Unauthorized (no token)
          "403":
            description: Forbidden (wrong user)
